In [5]:
#importing library

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.tree import  DecisionTreeRegressor 
from sklearn.model_selection import train_test_split

In [6]:
#importig the data from csv file 'petrol_consumption.csv'
dataset = pd.read_csv('petrol_consumption.csv')
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [18]:
#Data Analysis
#We will again use the head function of the dataframe to see what our data actually looks like:#
dataset.head()

(48, 5)

In [9]:
#preparing the data
x = dataset.drop('Petrol_Consumption',axis=1)
y = dataset['Petrol_Consumption']

In [22]:
x_train,x_test,y_train,y_test =  train_test_split(x,y,test_size=0.3,random_state=0)
x_test

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
29         9.0            3601            4650                         0.493
4          8.0            4399             431                         0.544
26         8.0            3448            5399                         0.548
30         7.0            3640            6905                         0.518
32         8.0            3063            6524                         0.578
37         7.0            3897            6385                         0.586
34         8.0            3528            3495                         0.487
40         7.0            4449            4639                         0.626
7          8.0            5126            2138                         0.553
10         8.0            4391            5939                         0.530
11         7.5            5126           14186                         0.525
31         7.0            3333            6594                         0.513
33         7.5            3357            4121                         0.547
27         7.5            3846            9061                         0.579
47         7.0            5002            9794                         0.593

In [23]:
#training and making the prection
regression = DecisionTreeRegressor()
regression.fit(x_train,y_train)
y_pred=regression.predict(x_test)

In [24]:
print(y_pred)

[547. 414. 648. 648. 648. 644. 648. 525. 414. 510. 464. 648. 648. 644.
 525.]

In [25]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df

    Actual  Predicted
29     534      547.0
4      410      414.0
26     577      648.0
30     571      648.0
32     577      648.0
37     704      644.0
34     487      648.0
40     587      525.0
7      467      414.0
10     580      510.0
11     471      464.0
31     554      648.0
33     628      648.0
27     631      644.0
47     524      525.0

In [26]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 51.8
Mean Squared Error: 4448.333333333333
Root Mean Squared Error: 66.69582695591481